.form-container{
     max-width: 500px;
     margin: auto;
     margin-top: 3rem;
     position: relative;
     padding: 1rem;
}
.center-card{
margin: auto;
     margin-top: 3rem;
     position: relative;
     padding: 1rem;}