<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3>head</h3>
    <div class="map">

    </div>
    <div class="device-list">
        <table>
            <theah>
                <tr>
                    <th>Image</th>
                    <th>Ten</th>
                    <th>Trang thai</th>
                </tr>

            </theah>
            <tbody>
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>